       ../../.idea/
        ../../CSD2b/C++_Eindopdracht/Final_Version/Synth
        ../../CSD2b/C++_basics/Testing/
        ../../CSD2b/convert.py
        ../Coding_Clinic/CircTest/CircBuffer
        ../Coding_Clinic/Interpolation/app
        .idea/
        build/
        cmake-build-debug/
        ../../DSP/FFT
        ../../DSP/a.csv
        ../../DSP/p.csv
        ../../DSP/test/app
        ../../Maker Skills Hardware/Teensy/Final_Assignment/
        ../../cmake-build-debug/
